---
import AdminLayout from '~/layouts/AdminLayout.astro'
import AdminHeader from '~/components/admin/AdminHeader.astro'
import AdminMain from '~/components/admin/AdminMain.astro'
---

<AdminLayout title="Recordar agradecimientos">
  <AdminHeader>
    <h1 slot="view-title" class="max-w-[800px] text-3xl font-bold tracking-tight text-white">
      Recordar agradecimientos
    </h1>
  </AdminHeader>
  <AdminMain>
    <p>Hola</p>
  </AdminMain>
</AdminLayout>
